@{
    ViewBag.Title = "About";
}

<br /><br />
<h2>About Limelight Movie Vehicle Database</h2>
<br /><br />

<p>
    The Limelight Movie Vehicle Database web app is the single most authoritative source for information about movie 
    vehicles.  Limelight offers users a searchable database of vehicle information, vehicle events, and reviews of movies 
    vehicles.  General users will be able to browse vehicle and event information.  Registered subscribers will have 
    the ability to read and post reviews about vehicles in addition to being able to view information on vehicles 
    and events in the Limelight database.

    <br /><br /><br /><br />
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>
