
@{
    ViewBag.Title = "ApplicationAdministration";
}

<h2>ApplicationAdministration</h2>

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Manage Vehicles", "Index", "Vehicles")</li>
    <li>@Html.ActionLink("Manage Reviews", "Index", "Reviews")</li>
    <li>@Html.ActionLink("Manage Users", "Index", "Account")</li>
</ul>

