@{
    ViewBag.Title = "Contact";
}

<br /><br />
<h2>Contact Limelight</h2>
<br /><br />

<p>
    Got questions about movie vehicles?  We have the answers!!  Get in touch <br />
    with use so that we can answer your nagging questions about movie vehicles.
</p>

<address>
    Mail <br />
    Limelight Movie Vehicles Headquarters <br />
    1701 E. Front St. <br />
    Traverse City, MI 49686
</address>

<address>
    <p>
        <strong>Phone: </strong>   1-800-555-0001 <br />
        <strong>Email: </strong> <a href="zoomzoom@limelight.com">zoomzoom@limelight.com</a>
    </p>
</address>

<br /><br /><br /><br />
@Html.ActionLink("Back to Home", "Index", "Home")